{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block body %}
<section class="padding ptb-xs-40">
				<div class="container">

					<div class="row">

						<div class="col-lg-8">

							<div class="headeing pb-30">
								<h2>{% trans %}Get in Touch{% endtrans %}</h2>
								<span class="b-line l-left line-h"></span>
							</div>
						
							{{ form_start(form) }}
								<!-- IF MAIL SENT SUCCESSFULLY -->
								<div id="success">
									<div role="alert" class="alert alert-success">
										<strong>{% trans %}Thanks{% endtrans %}</strong> {% trans %}for using reaching out. Your message has been sent.{% endtrans %}
									</div>
								</div>
								<!-- END IF MAIL SENT SUCCESSFULLY -->
								<div class="row">
									<div class="col-lg-6">
										<div class="form-field ">
											{{ form_row(form.name) }}
										</div>
										<div class="form-field">
											{{ form_row(form.email) }}
										</div>
										<div class="form-field">
											{{ form_row(form.subject) }}
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-field">
										{{ form_row(form.message) }}
										</div>
									</div>
									        {{ form_widget(form) }}
											<input type="submit" value="Send" class="btn btn-primary btn-lg" />
								</div>
						
							{{ form_end(form) }}
							<!-- END Contact FORM -->
						</div>

						<div class="col-lg-4 contact mt-sm-30 mt-xs-30">
							<div class="headeing pb-20">
								<h2>{% trans %}Contact Info{% endtrans %}</h2>
								<span class="b-line l-left line-h"></span>
							</div>
							<div class="contact-info">

								<ul class="info">
									<li>
										<i class="fa fa-map-marker"></i>
									<p>
										10 Rue Des Voilettes
										<span> 95380, Puiseux-en-France</span>
									</p>
									</li>

									<li>
										<i class="icon ion-android-call"></i>
										<p>
											0666264040
										</p>
									</li>
									<li>
										<i class="icon ion-ios-email"></i>
										<p>
											info@contractor.com|
										</p>
									</li>
								</ul>
								<ul class="event-social">
									<li>
										<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<!-- Map Section -->

			</section>
			<!-- Map -->
			<section class="map-box">
				<div class="map">
					<div id="map"></div>
				</div>
			</section>
			<!-- Contact Section -->
			<!--End Contact-->
{% endblock %}
